@font-face {
    font-family: sunflower;
    src: url(../Fuentes/sunflower.otf);
}
body{
	background-image: url("../img/68869.jpg");
	background-size: 100%;  
}
h1{
	font-size: 40px;
	color: #ffffff;
	text-align: center;
	font-family: sunflower;
	letter-spacing: 7px;
	
}
h3, th, h4, h2{
	text-align: center;
	font-family: sunflower;
	color: #541D45;
}
th{
	background-color: #8FB9C5;
	color: white;
	letter-spacing: 4px;
}
table{
	text-align: center;
	margin: auto;
}
#catalogo, #resumen, #ped{
	padding-top: 1%;
	padding-bottom: 2%;
	margin: auto;
	background-color: rgba(255, 246, 240, 0.8);
	width: 50%;
}
#fo{
	padding-top: 1%;
	padding-bottom: 2%;
	margin: auto;
	background-color: rgba(255, 246, 240, 0.8);
	width: 100%;
}
#ped{
	padding-top: 1%;
	padding-bottom: 2%;
	margin: auto;
	background-color: rgba(255, 246, 240, 0.8);
	width: 80%;
}
#tipoenvio{
	text-align: center;
}
input{
	margin: auto;
	width: 40px;
	
	background-color: transparent;
	border: 0;
    border-bottom: 1px solid black;
    outline: 0;
}
.datosenvio{
	width:400px;
}
.edit{
	width:300px;
}
p{
	text-align: center;
	font-size: 12px;
}
.boton{
	margin: auto;
	background-color:#8FB9C5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}
.cerrar{
	text-align:center
}
.boton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
a, a:link, a:visited, a:hover{
	color: white; 
	text-decoration: none;
}