<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Qué quieres hacer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/opciones.css"></link>
    </head>
    <body>
       
       <div id="botones">
       	   <h1>¿Qué quieres hacer?</h1>
	       <button class="boton" type="submit" ><a href="/listapedidos">Ver mis pedidos</a></button>
	       <button class="boton" type="submit" ><a href="/catalogo">Hacer un nuevo pedido</a></button>
	       <button class="boton" type="submit" ><a href="/cerrar">Cerrar Sesión</a></button>
		</div>
    </body>
</html>