<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resumen Pedido</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/pedidos.css"></link>
    </head>
    <body>
       <h1>Resumen de tu pedido</h1>
       
       <div id="resumen">
       	<h2 th:text="${usuario.getNombre()}"></h2>
       		<form th:action="@{/catalogo/listapedidos}" method="post">
				<table>
					<tr>
						<th scope="col">Unidades</th>
						<th scope="col">Producto</th>
						<th scope="col">Coste Total</th>
					</tr>
					<tr th:each="producto : ${listaCantPro}">
				        <td th:if="${producto.value>0}" th:text="${producto.value}"></td>
				        <td th:if="${producto.value>0}" th:text="${producto.key.nombre}"></td>
				        <td th:if="${producto.value>0}" th:text="${producto.key.precio*producto.value} + €"></td>
				        <td></td>
	        		</tr>
	     		</table>
	     		<div id="tipoenvio">
		     		<h4>¿Qué tipo de envío seleccionamos?</h4>
		     		<p>(Si no seleccionas ninguno, por defecto se marcará el envío certificado)</p>
		     		Ordinario<input type="radio" name="envio" value="ordinario"/>
		 	     	Certificado<input type="radio" name="envio" value="certificado" checked="checked"/><br><br>
		     		
		     		<input class="datosenvio" type="text" name="direc" placeholder="Indique la dirección de envio..."><br>
		     		<input class="datosenvio" type="text" name="tele" placeholder="Indique el teléfono de contacto..."><br>
		     		<input class="datosenvio" type="text" name="email" placeholder="Indique el email de contacto..."><br><br>
		     		
		     		<button type="submit" class="boton">Confirmar Pedido</button><button type="submit" class="boton"><a href="../cerrar">Cerrar Sesión</a></button>
		     		
	     		</div>
	     	</form>
	     </div>
    </body>
</html>